<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partial/headTag.ejs") -%> 
    <!-- local css -->
    <link rel="stylesheet" href="../../CSS/home.css">
    <title>درباره ما</title>
</head>

<body>

    <div class="home-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <% if (!isLoggedIn) { %>
                <%- include ("../partial/body-logo.ejs") -%> 
                <a href="/api/singUp"><button class="singUp-button">ثبت نام</button></a>
            <% } else { %>
                <div class="userProfileLogo"> <img src=<%= isLoggedIn.avatar %>  alt="logo"> </div>
                <button class="singOut-button">خروج</button>
            <% } %> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <% if (isLoggedIn) { %>
                        <div class="inline">
                            <span class="between"> <i class="fas fa-house-user"></i> </span>
                            <a class="nav-item nav-link" href="/api/user/dashboard">داشبور شما</a>
                        </div>
                    <% } %>
                    <div class="inline">
                        <span class="between"> <i class="fas fa-home"></i> </span>
                        <a class="nav-item nav-link" href="/">صفحه اصلی</a>
                    </div>
                    <div class="inline">
                        <span class="between"> <i class="fas fa-phone"></i> </span>
                        <a class="nav-item nav-link" href="/api/contactUs">تماس با ما</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <%- include ("../partial/body-script.ejs") -%>
    <!-- local file -->
    <script src="../../JS/aboutUs.js"></script>
</body>

</html>