*,
*::after,
*::before{
    box-sizing: border-box;
}

@media only screen and (max-width: 1100px) {

    .lg-1 {width: 8.33%;}
    .lg-2 {width: 16.66%;}
    .lg-3 {width: 25%;}
    .lg-4 {width: 33.33%;}
    .lg-5 {width: 41.66%;}
    .lg-6 {width: 50%;}
    .lg-7 {width: 58.33%;}
    .lg-8 {width: 66.66%;}
    .lg-9 {width: 75%;}
    .lg-10 {width: 83.33% !important;}
    .lg-11 {width: 91.66%;}
    .lg-12 {width: 100%;}
}

@media only screen and (max-width: 950px) {

    .headLinks, .headDialog{
        display: none !important;
    }

    .headProfile{
        flex-direction: row-reverse !important;
        height: 60px !important;
        box-shadow: 0 8px 6px -6px black;
        z-index: 1;
    }

    .yourAvatar{
        margin: 0px !important;
    }

    .rightTools .yourAvatar, .leftTools .myLogo img{
        width: 50px !important;
        height: 50px !important;
    }

    .rightTools, .leftTools{
        flex-direction: row-reverse;
    }

    .leftTools{
        justify-content: flex-start !important;
    }


    .rightTools{
        justify-content: flex-end !important;
    }

    #caretIcon, #burgerIcon{
        display: block !important;
        font-size: 20px;
    }

    #burgerIcon{
        margin: 0px 15px 0px 10px;
        display: flex !important;
    }

    #caretIcon{
        margin: 0px 10px 0px 15px;
    }

    .inline:hover{
        background-color: black !important;
        color: white !important;
        transition-duration: 0.5s !important;
    }

    .sideBar{
        display: block !important;
    }

    /* style for links in side bar */
    #link1, #link2, #link3, #link4, #link5, #link6{
    position: absolute;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    }

    #link1{
        top: 0px;
        right: 100%;
    }
    
    #link2{
        top: 40px;
        right: 100%;
    }
    
    #link3{
        top: 80px;
        right: 100%;
    }
    
    #link4{
        top: 120px;
        right: 100%;
    }

    #link5{
        top: 160px;
        right: 100%;
    }

    #link6{
        top: 200px;
        right: 100%;
    }

    /* style for avatar */
    .rightTools .yourAvatar{
        position: unset;
    }

    .yourAvatar img{
        filter: unset !important;
    }

    .avatarButtons{
        display: none !important;
    }


    .md-1 {width: 8.33%;}
    .md-2 {width: 16.66%;}
    .md-3 {width: 25%;}
    .md-4 {width: 33.33%;}
    .md-5 {width: 41.66% !important;}
    .md-6 {width: 50% !important;}
    .md-7 {width: 58.33% !important;}
    .md-8 {width: 66.66%;}
    .md-9 {width: 75%;}
    .md-10 {width: 83.33%;}
    .md-11 {width: 91.66%;}
    .md-12 {width: 100% !important;}
}

@media only screen and (max-width: 600px) {


    .sm-1 {width: 8.33%;}
    .sm-2 {width: 16.66%;}
    .sm-3 {width: 25%;}
    .sm-4 {width: 33.33%;}
    .sm-5 {width: 41.66% !important;}
    .sm-6 {width: 50%;}
    .sm-7 {width: 58.33% !important;}
    .sm-8 {width: 66.66%;}
    .sm-9 {width: 75%;}
    .sm-10 {width: 83.33%;}
    .sm-11 {width: 91.66% !important;}
    .sm-12 {width: 100% !important;}
}

@font-face{
    font-family: VazirFont;
    src: url(../Vazir-FD.woff2);
}


body, html{
    position: relative;
    height: 100%;
}

.hvr:hover{
    cursor: pointer;
}

/* style for header in dashboard */
.dashboard-header{
    background-color: antiquewhite;
    display: flex;
    width: 100%;
    height: auto;
    direction: rtl;
    font-family: VazirFont;
}

.headLinks{
    width: 40%;
}

.headProfile{
    width: 35%;
}

.headDialog{
    width: 25%;
}

.headLinks{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headLinks .linksParent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 35%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.inline{
    display: flex;
    direction: rtl;
    text-align: right;
    height: 33.33%;
}

.inline a{
    height: 100%;
    display: flex;
    margin-right: 5px;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.inline a:hover{
    color: lightskyblue;
    transition-duration: 0.7s;
}

.inline .between{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.headProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftTools, .rightTools{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.leftTools .myLogo{
    height: auto;
    display: flex;
    justify-content: center;
}

.leftTools .myLogo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rightTools .yourAvatar{
    margin-top: 5px;
    border: solid 1px black;
    border-radius: 10px;
    width: 35%;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.yourAvatar .avatarButtons{
    position: absolute;
    width: 80%;
    height: 40px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seeProfile{
    top: 100%;
}

#addAvatar{
    bottom: 100%;
}

/* style for submit avatar or cancel */
#submitAvatar, #cancelAvatar{
    position: absolute;
    top: 100%;
    width: 30px;
    height: 30px;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
}

#submitAvatar{
    color: green;
    right: 100%;
}

#cancelAvatar{
    color: red;
    left: 100%;
}

.rightTools .yourAvatar img{
    width: 100%;
    height: 100%;
}

.headDialog div{
    text-align: right;
    width: 100%;
    height: 25%;
    padding-right: 30px;
    display: flex;
    align-items: center;
    white-space: pre;
}

#exit{
    width: 100px;
    border: solid 1px black;
    border-radius: 5px;
    height: 30px;
    background-color: transparent;
}

/* style for add avatar in side bar */
#submitAvatar2, #cancelAvatar2{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
    border-radius: 3px;
    display: none;
}

#submitAvatar2{
    margin: 0px 5px 0px 5px;
    color: green;
}

#cancelAvatar2{
    color: red;
}

/* style for dialog 2 */
.dialog2{
    position: relative;
    width: 250px;
    height: 50px;
    left: 0px;
    font-family: VazirFont;
    font-size: 13px;
    border:  solid 1px black;
    text-align: right;
    direction: rtl;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    background-color: antiquewhite;
    z-index: 1;
}

.dialog2-name{
    width: 100%;
    height: 25px;
    top: 0px;
    left: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog2-time{
    width: 100%;
    height: 25px;
    top: 25px;
    right: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* style for burger icon */
#burgerIcon{
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#line1, #line2, #line3{
    width: 100%;
    border-bottom: solid 2px black;
}

/* style fot side bar */
.sideBar{
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: white;
    right: 0px;
    z-index: 1;
    overflow: hidden;
}

.sideBar .linksParent2{
    width: 100%;
    height: 100%;
    position: relative;
}

/* style for change theme */
.change-theme{
    position: relative;
    width: 50px;
    height: 25px;
    border: solid 1px black;
    border-radius: 5pc;
    overflow: hidden;
    align-items: center;
    margin: 5px 0px 0px 5px;
}

.change-theme .changeButton{
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: gray;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}