<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/headTag.ejs") -%> 
  <link rel="stylesheet" href="../../CSS/newArticle.css">
  <title>مقاله جدید</title>
</head>

<body>
  <div class="descParent">
    <Textarea id="description" placeholder=" :توضیح یا خلاصه مقاله"></Textarea>
  </div>

  <div id="summernote"> </div>

  <div class="submitArticle-parent">
    <button id="submitArticle">ثبت نهایی مقاله</button>
  </div>

  <%- include ("../partials/body-scripts.ejs") -%>
  <script src="../../JS/newArticle.js"></script> 
</body>

</html>