<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/headTag.ejs") -%>

    <link rel="stylesheet" href="../../CSS/writeArticle.css">
    <title>Document</title>
</head>

<body>

    <textarea placeholder="خلاصه یا توضیحات مقاله" class="description"></textarea>
    <textarea name="editor1"></textarea>

    <%- include ("../partials/body-scripts.ejs") -%>
    <script src="../../JS/writeArticle.js"></script>
</body>

</html>