<div class="articleCard">
    <div class="state-title-parent">
        <div class="title">

        </div>
        <div class="state">

        </div>
    </div>

    <div class="tools-disc-parent">
        <div class="disc"></div>
        <div class="tools">
            <div class="tools-read">
                <span> <i title="خواندن این مقاله" class="hvr fas fa-book-reader"></i> </span>
            </div>
            <div class="tools-del-edit">
                <span> <i title="ویرایش این مقاله" class="hvr fa fa-edit"></i> </span>
                <span> <i title="حدف این مقاله" class="hvr fas fa-trash-alt"></i> </span>
            </div>
        </div>
    </div>
</div>