<div id="link1" class="inline">
    <span class="between"> <i class="fas fa-home"></i> </span>
    <a href="/">صفحه اصلی</a>
</div>
<div id="link2" class="inline">
    <span class="between"> <i class="fab fa-readme"></i> </span>
    <a href="/api/aboutUs">درباره ما</a>
</div>
<div id="link3" class="inline">
    <span class="between"> <i class="fas fa-phone"></i> </span>
    <a href="/#contactUs-panel">تماس با ما</a>
</div>